@model CandidateVM
@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit" enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-6">
            <h2 class="display-5">Edit Candidate</h2>
            <input asp-for="CandidateId" type="hidden"/>
            <input asp-for="Image" type="hidden"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-2">
                <label asp-for="CandidateName" class="col-form-label col-3"></label>
                <div class="col-7">
                    <input asp-for="CandidateName" class="form-control form-control-sm" />
                </div>
                <div class="col-2">
                    <span asp-validation-for="CandidateName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <label asp-for="DateOfBirth" class="col-form-label col-3"></label>
                <div class="col-7">
                    <input asp-for="DateOfBirth" type="date" class="form-control form-control-sm" />
                </div>
                <div class="col-2">
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <label asp-for="Phone" class="col-form-label col-3"></label>
                <div class="col-7">
                    <input asp-for="Phone" class="form-control form-control-sm" />
                </div>
                <div class="col-2">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <label asp-for="ImageFile" class="col-form-label col-3"></label>
                <div class="col-7">
                    <input asp-for="ImageFile" type="file" class="form-control form-control-sm" />
                    <img src="@Model.Image" width="35" class="rounded-circle" />
                </div>
                <div class="col-2">
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <label asp-for="Fresher" class="col-form-label col-3"></label>
                <div class="col-7 form-check">
                    <label class="form-check-label">
                        @Html.CheckBoxFor(x => x.Fresher)
                    </label>
                </div>
                <div class="col-2">
                    <span asp-validation-for="Fresher" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h2 class="display-5">Skills</h2>
            <div class="d-flex justify-content-end">
                <a id="btnPlus" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
            </div>
            <div id="skillContainer">
               @foreach (var item in Model.SkillList)
                {
                    <script>
                        LoadData(@item);
                    </script>
                }
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <input type="submit" value="Update" class="btn btn-primary mt-2" />
    </div>
</form>
<div>
    <a asp-action="Index" asp-controller="Candidates" class="btn btn-link btn-sm "><i class="fa fa-arrow-circle-left"></i> Back to list</a>
</div>




